@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *; 

.header {
  position: relative;
  width: 375px;
  height: 300px;
  background-color: rgb(194, 52, 52);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  @include responsive(laptop) {
    width: 100%;
    
  }


  &__name {
    border-bottom: 1px solid rgb(26, 13, 218);
    color: rgb(44, 184, 179);
  }

  &__title {
    color: black;
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;

    @include responsive(laptop){
      font-size: 50px;
      margin-top: 80px;
    }
  }
  &__subtitle {
    color: rgb(117, 173, 225);

    @include responsive(laptop){
      font-size: 30px;
    }
  }
}

.menu{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  width: 300px;
  left: 40px;
  margin-top: 20px;
  height: 200px;
  background-color: rgb(27, 124, 209);
  translate: 0 -300%;
  transition: translate 1s;


  @include responsive(laptop){
    display: flex;
    justify-content: space-evenly;
    top: -70px;
    flex-direction: row;
    left: 0;
    background-color: transparent;
    translate: 0 0;
    width: 100%;
  }


  &__link{
    border-block: 3px dashed rgb(17, 180, 255);
    color: rgb(74, 247, 247);
    font-size: 30px;

    @include responsive(laptop){
      color: rgb(53, 204, 30);
      font-size: 30px;
      border-block: none;
      cursor: pointer;

      @include hover{
        background-image: linear-gradient(white,black);
      }

    }

    @include hover{
      color: white;
    
    }

  }
}

.show {
  translate: 0 0;
}

.button__menu {
  width: 50px;
  height: 50px;

  @include responsive(laptop){
    display: none;
  }

}

